* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

a {
  text-decoration: none;
  color: black;
}

#viewport {
  overflow: hidden;
}

.slider {
  position: relative;
  transition: 500ms;
  width: calc(100% * 5);
  height: 50vh;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  left: 0;
}

.slide {
  width: 100%;
}

.slide > img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.slider-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.slide > p {
  position: absolute;
  background-color: #fff;
  padding: 20px 50px;
  font-size: 50px;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  padding: 10px 20px;
  border: 0.5px solid black;
  font-size: 14px;
  transition: .2s linear;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}

img {
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.category-item {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 0;
}

.align-center {
  align-items: center;
}

.products {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-item {
  width: 200px;
  height: 300px;
  padding: 10px;
  margin: 20px;
  position: relative;
}

.product-item > img {
  width: 100%;
  height: 70%;
  object-fit: scale-down;
}

.product-item > p {
  width: 200px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.bold {
  font-weight: bold;
}

.product-image {
  padding: 10%;
}

.product {
  margin-top: 5%;
  width: 50%;
}

.product-name {
  font-weight: bold;
  font-size: 36px;
}

.product-price {
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.auth {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}.auth {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_actions {
  padding: 10px;
  margin: 5px;
  width: 50%;
  border-radius: 5px;
  border: 0.5px solid black;
}

.message {
  margin-top: 20px;
  font-size: 18px;
}

h2 {
  margin: 30px 0;
}

.ww {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  width: 25%;
}

.center {
  text-align: center;
}

.w-50 {
  width: 50%;
  margin: 0 auto;
}

table, th, td {  
  border: 1px solid pink;  
  border-collapse: collapse;  
}  

th, td {  
  padding: 10px;  
  display: flex;
  justify-content: space-between;
}

.form-action {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 50%;
}

select, .input {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  border: 0.5px solid black;
  background: #fff;
  margin: 5px 0;
}